.navbar{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    }

    .Navbar_inicio{
        text-decoration: none;
        margin: 5px;
        color:black;
        font-size: 2em ;

    }
   